[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
seaborn = "*"
flask = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
gunicorn = "*"
ipykernel = "*"
imblearn = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
